*{
	margin: 0px;
	padding: 0px;
	outline: 0px;
	box-sizing: border-box;
}

.calculator{
	position: relative;
	width: 320px;
	margin: 50px auto;
	display: grid;
}

.calculator .value{
	grid-column: span 4;
	height: 80px;
	text-align: right;
	padding-right: 8px;
	-webkit-box-shadow: 1px 0px 3px 1px #000000; 
box-shadow: 1px 0px 3px 1px #000000;
}

.calculator span{
	position: relative;
	display: grid;
	background: #2E4053;
	height: 60px;
	color: #ffffff;
	place-items: center;
	border: 1px solid rgba(0,0,0,.1);
	font-family: arial;
	font-size: 16px;
}

.calculator span:active{
	background: #FFC300;
}

.calculator span.clear{
	grid-column: span 2;
	background: #DE1414;
}

.calculator span.plus{
	grid-row: span 2;
	height: 120px;
}

.calculator span.equal{
	grid-column: span 3;
	background: #12DBB6;
}